<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center">Eat Da Burger</h1>
        <img class="img-fluid" src="../assets/img/burgerPic.png">
    </div>
    <div class="row">
        <div class="col-sm-5 text-right">New Burgers</div>
        <div class="col-sm-2 text-center"> | </div>
        <div class="col-sm-5"> Eaten burgers</div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            FORM To ADD NEW BURGER
        </div>
    </div>
</div>



</div>